{% extends 'base.html.twig' %}

{% block title %}Welcome to Pizza Project{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Welcome to Pizza Project</h1>
    <p>Your new Symfony application is ready!</p>
</div>
{% endblock %} 